/* css stylesheet for Week2/index.html */


/* base styling */

* {
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF; /* White */
	font-family: "Comic Sans MS", sans-serif;
	margin: 15px;
}

h1 {
	text-align:center;
	font-size: 1.75em;
}

div {
	float: left;
	position: relative;
}

p {
	background-color: #A9A9A9; /* DarkGray */
	border: 1px solid #000000; /* Black */
	padding: 10px;
	margin: 15px;
}

.header {
	font-size: 1.5em;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40%;
	padding: 5px;
}

#header1 {
	background-color: #FFB6C1; /* LightPink */
	color: #000000; /* Black */
}

#header2 {
	background-color: #B22222; /* FireBrick */
	color: #FFFFFF; /* White */
}

#header3 {
	background-color: #FFE4B5; /* Mocassin */
	color: #000000; /* Black */
}

/* large device styling */

@media (min-width: 992px) {

	#s1 {
		width: 33.33333%;
	}

	#s2 {
		width: 33.33333%;
	}

	#s3 {
		width: 33.33333%;
	}
}

/* tablet styling */

@media (min-width: 768px) and (max-width: 991px) {

	#s1{
		width: 50%;
	}

	#s2 {
		width: 50%;
	}

	#s3 {
		width: 100%;
	}

	#header3 {
		width: 20%;
	}
}

/* phone styling */

@media (max-width: 767px) {

	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	#s1 {
		width: 100%;
	}

	#s2 {
		width: 100%;
	}

	#s3 {
		width: 100%;
	}
}
