 body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Comic Sans MS", sans-serif;
}

#header-nav {
  background-color: #A9A9A9; /* DarkGray */
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Food LLC */
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0;
  margin-right:0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
  font-size: 1.2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#title {  /* Our Menu */
  font-size: 2em;
}

#s1 {
  background-color: #A9A9A9; /* DarkGray */
  border: 1px solid #000000; /* Black */
  padding: 10px;
}

.container-fluid{
  margin-left: 5%;
  margin-right:5%;
}

#chicken_button{
  background-color: #FFB6C1; /* LightPink */
  color:#000000;
}

#beef_button{
  background-color: #B22222; /* FireBrick */
  color:#FFFFFF;
}

#sushi_button{
  background-color: #FFE4B5; /* Mocassin */
  color:#000000;
}


/* Desktop Styling */
@media (min-width: 1200px) {
.navbar-brand {
  margin-top: 20px;
  margin-bottom: 20px;
  }

}

/* Tablet Styling */
@media (min-width: 992px) and (max-width: 1199px) {
.navbar-brand {
  margin-top: 20px;
  margin-bottom: 20px;
  }

}

/* Small Device Styling */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-brand {
  margin-top: 20px;
  margin-bottom: 20px;
  }

}

/* Phone Styling */
@media (max-width: 767px) {

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { /* Food, LLC */
    padding-top: 10px;
    font-size: 5vw;
  }

  #collapsable-nav a { /* button text */
    font-size: 1.2em;
  }

  .container-fluid{
  margin-left: 10%;
  margin-right:10%;
}

}
